@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

/* ====================
  Reset Default CSS Start
  ==================== */

:root {
  --primary-color: #053b50;
  --black: #000000;
  --white: #ffffff;
  --primary-font: "Sora";
  --text-color: #2e97a7;
  --navbar-color: #282828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  margin-top: 0;
}

p {
  font-family: var(--primary-font);
  margin-top: 0;
}

span {
  font-family: var(--primary-font);
}

a {
  text-decoration: none !important;
  font-family: var(--primary-font);
}

ul {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none;
  font-family: var(--primary-font);
}

button {
  border: none;
  outline: none;
  font-family: var(--primary-font);
}

input {
  outline: none;
  font-family: var(--primary-font);
}

label {
  font-family: var(--primary-font);
}

/* ====================
  Reset Default CSS End
  ==================== */

.search-area input {
  border: 1px solid var(--primary-color) !important;
  border-radius: 5px !important;
  width: 300px !important;
  background: rgba(245, 254, 255, 1) !important;
}

.input-group-text {
  display: none;
}

.nav-header .brand-logo {
  align-items: center !important;
  display: flex !important;
}

.navLogo svg {
  margin-top: 5px !important;
}

.hamburger .line {
  background: var(--primary-color) !important;
}

.dlabnav .metismenu > li.mm-active > a {
  background: var(--white) !important;
}

.dlabnav .metismenu > li.mm-active > a > .lin svg rect {
  stroke: var(--white);
}

[data-sidebar-style="full"][data-layout="vertical"]
  .dlabnav
  .metismenu
  > li
  > a:before {
  background: var(--primary-color);
}

.dlabnav .metismenu > li.mm-active > a {
  color: var(--black) !important;
}

.dlabnav .metismenu .has-arrow:after {
  color: #000000 !important;
}

.dlabnav .metismenu > li.mm-active > a:after {
  border-top: 0.3125rem solid var(--black);
  border-left: 0.3125rem solid var(--black);
}

.dlabnav-scroll {
  background: var(--primary-color);
}

.dlabnav .metismenu > li > a {
  color: var(--white) !important;
}

.dlabnav .metismenu a {
  color: var(--white);
}

.dlabnav .metismenu a:hover {
  color: var(--white) !important;
}
